div {
    float: center;
    height: 100px;
    width: 100px;
    background-color: #4ECDC4;
    border-radius: 5px;
    display: inline-block;
}

p {
    font-size: 30px;
    text-align: center;
    /*margin: 0 auto;*/
}

#frameLeft {
    background-color : red;
}

#frameRight {
    background-color : blue;
}
