---
layout: page
permalink: /tags/
---
<style>
  {% include style.css %}
</style>
<ul>
{% for tag in site.tags %}
  <a class="tag-btn" style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%;color: #ffffff;" href="#{{ tag | first | slugize }}">
    {{ tag | first }}
  </a> &nbsp;
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <h4><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
