.tag-btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 0px #666666;
  -moz-box-shadow: 2px 2px 0px #666666;
  box-shadow: 2px 2px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  background: #3498db;
  padding: 7px 3px 7px 7px;
  text-decoration: none;
}
.tag-btn:hover {
  /*background: #666666;*/
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: right;
}
pre.highlight {
  background-color: #2ABB9B !important;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
code {
  background-color: #2ABB9B !important;
}
