body  {
  font-family: 'Roboto', sans-serif;
}
b{
  font-size: 1.2em;
}
i{
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
img{
  width: 100%
}
h3 {
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
}
div.post:hover{
  background-color: black;
  color:white;
  border: solid;
  border-color: black;
}
.important{
  font-size: 1.5em;
  font-weight: bold;
  border: dotted;
  background-color: #A2DED0;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content{
  border: dotted;
  background-color: #D2D7D3;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  border-style: solid;
  border-color: black;
}
.center{
  text-align: center;
}
.raised{
  border-radius: 8px;
  color: #ffffff;
  background: #827d82;
  padding: 6px 6px 6px 6px;
  box-shadow: 1px 1px 1px #888888;
}
.raised:hover{
  background: #000000;
  box-shadow: none;
}
.update-text::before{
  content: "이 문서는 아직 업데이트 중입니다.";
}
.update-text{
  color:white;
  background-color: black;
  padding: 10px;
}
.update{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  border-style: solid;
  border-color: #008275;

  background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C%20130%2C%20117%2C%201.00)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
  background-size: 1em 1em;

}
.post{
  font-size: 1.5em;
  font-weight: bold;
  border: solid;
  background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C%20130%2C%20117%2C%201.00)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
span.summary{
  font-size: 1em;
  color:white;
  background-color: black;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-top: 50px;
}
